/*
====================================================================================================================================================================
                                                    Start review Page
====================================================================================================================================================================
*/



/*
====================================================================================================================================================================
                                                    End review  Page
====================================================================================================================================================================
*/
img#reviewimage{
  width: 100%;
  height: 700px;
  z-index: -3;
  top: 0;
  left: 0;
  position: absolute;

}

img#user1{
  height: 70px;
  width: 70px;
  top: -8%;
  position: absolute;
  left: 43%;
  border-radius: 50%;
}

img#user2{
  height: 70px;
  width: 70px;
  top: -8%;
  position: absolute;
  left: 43%;
  border-radius: 50%;
}

img#user3{
  height: 70px;
  width: 70px;
  top: -8%;
  position: absolute;
  left: 43%;
  border-radius: 50%;
}


img#user4{
  height: 70px;
  width: 70px;
  top: -8%;
  position: absolute;
  left: 43%;
  border-radius: 50%;
}


img#manager{
  height: 70px;
  width: 70px;
  bottom: 1%;
  position: absolute;
  left: 1%;
  border-radius: 50%;
}







div.background{
  width: 60%;
  height: 2000px;
  position: absolute;
  top: 550px;
  left: 20%;
  background-color: grey;
  z-index: 0;
}

div.review{
  width: 60%;
  height: 22%;
  left: 20%;
  background-color: white;
  position: absolute;
}

div#review1{
  position: absolute;
  top: -5%;

}

div#review2{
  position: absolute;
  top: 22%;

}

div#review3{
  position: absolute;
  top: 50%;

}

div#review4{
  position: absolute;
  top: 77%;

}

div#clickMe1{
  height: 50%;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 20%;
}

div#clickMe2{
  height: 50%;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 20%;
}

div#clickMe3{
  height: 50%;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 20%;
}

div#clickMe4{
  height: 50%;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 20%;
}





p{
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      display: block;
      white-space: normal;
      font-size: small;
      top: 55%;
      height: 50%;
      width: 70%;
      position: absolute;
      left: 15%
}

p.myClass{
     overflow: hidden;
     font-size: small;

}

textarea.comment{
  background-color: yellow;
  position: absolute;
  bottom: 1%;
  left: 15%;
  text-color: white;
}

i{
  background-color: green;
}

span.yellow{
  border: 1px solid green;
  border-right: 1px solid white;

}

span.black{
  border: 1px solid green;
  border-left: 1px solid white;

}










/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: white;
    position: absolute;
    left: 0;
    top: 2650px;
}

p#footer {
    text-align: center;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
